@font-face {
  font-family: 'MyCustomFont';
  src: url('./Components/fonts/ivy-style-sans.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.ivy {
  font-family: 'MyCustomFont', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
  background-color: #e2e8f0; /* Matches bg-slate-300 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.nav-link-styling{
  font-size: 14pt;
}

.hometype{
    color: #003B4F;
    border-bottom-left-radius: 20px;
}
.background-section {
    background-image: url("./Components/images/kelli-mcclintock-wBgAVAGjzFg-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
.thin{
  font-weight: 200;
}
.tiny{
  font-size: 8pt;
}
.italics{
  font-style: italic;
}



@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hometype {
  animation: fadeInRight 1s ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}


@media (max-width: 768px) { 
    .hometype {
      font-size: 15pt;
      margin: 0 auto; /* Center the element horizontally */
      text-align: center; /* Optional: Center text within the element */
    }
    .nav-link-styling{
      font-size: 9pt;
    }
  }