@font-face {
  font-family: "Tomorrow";
  src: url("./Components/fonts/Tomorrow-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("./Components/fonts/Manrope-Bold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Manrope-SemiBold";
  src: url("./Components/fonts/Manrope-SemiBold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("./Components/fonts/Manrope-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope-Light";
  src: url("./Components/fonts/Manrope-Light.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("./Components/fonts/Manrope-Regular.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Branch";
  src: url("./Components/fonts/Branch.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url("./Components/fonts/Barlow-Medium.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.barlow {
  font-family: "Barlow", sans-serif;
}

.manrope-bold {
  font-family: "Manrope-Bold", sans-serif;
}

.manrope-medium {
  font-family: "Manrope-Medium", sans-serif;
}

.manrope-semibold {
  font-family: "Manrope-SemiBold", sans-serif;
}

.manrope-regular {
  font-family: "Manrope-Regular", sans-serif;
}
.manrope-light {
  font-family: "Manrope-Light", sans-serif;
}

.tomorrow {
  font-family: "Tomorrow", sans-serif;
}

.mission {
  font-size: 16pt;
  padding: 5%;
}

/* .bg-service-cards{
background-color: #F7F3F0;
}

.mission-card{
  background-color: #F7F3F0;

} */



.branch {
  font-family: "Branch", sans-serif;
}

.forward {
  z-index: 2000;
}

.accent{
  color: #99efce;
}

.smallText {
  font-size: 10pt;
}

.text-expand{
  font-size: 10pt;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-top: 4%;
}

.bottom-left {
  bottom: 0%;
  left: 0;
  position: absolute;
  z-index: 100000;
  color: white;
}
.margin-left-home {
  margin-left: 70px;
}

.demo {
  border-top: 1px solid #ffffff;
  padding: 10px 0; /* Adds 10px spacing above and below the text */
}
.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

/* Image styles */
.service-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease-in-out;
}


.service-card.in-view .service-image,
.service-card:hover .service-image {
  transform: scale(1.1);
  opacity: 1;
}


.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tinyLogo {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}
.tinyFooterLogo {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.nav-logo-text{
  font-size: 15pt;
}

.big-line {
  --a: -45deg; /* control the angle */
  --t: .23em; /* thickness of the underline */ 
  color: #000000;
}

.big-line:nth-child(2) {
  --a: 45deg; /* Different angle for the second element */
  --t: .15em;
  color: #C5E0DC;
}

.big-line span {
  --_s: calc(var(--t) * cos(var(--a)));
  background:
    linear-gradient(var(--a), #0000 var(--_s), currentColor 0 calc(100% - var(--_s)), #0000 0) 
    bottom / var(--i, 90%) var(--t) no-repeat;
  padding: 0 .25em calc(var(--t) + .1em);
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  transition: .3s;
}

.big-line:hover span {
  --i: 100%;
}

.tiny2 {
  width: 25px;
  height: 25px;
  margin-right: 14px;
}

.large-body-text{
  font-size: 13pt;
  letter-spacing: .5pt;
}


.green{
  color: #184434ff;
}

.bg-green{
  background-color: #10685a;
}

.process-header{
  text-align: start;
}

.tricare {
  padding: 2000%;
}

.check-tricare {
  width: 42px;
  height: 42px;
  margin-right: 10px;
  vertical-align: middle;
}

.bold {
  font-weight: 700;
}

.TLC {
  font-size: 35pt;
  font-weight: 550;
  letter-spacing: 1pt;
}

.sub-head{
  letter-spacing: 1.65px;
  font-size: 14.5pt;
  font-weight: 200;
  color: #ffffff;
}

.side-note{
  text-align: center;
}

.footer-text-1 {
  font-size: 13pt;
  margin-top: 5px;
}
.footer-text-2 {
  font-size: 9pt;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.larger {
  width: 200%;
  height: 200%;
}

.margin-left-full-screen {
  margin-left: 30%;
}

.slide-text {
  display: inline-block;
  animation: slideIn ease-in-out 1s forwards; /* 1s delay, 1s duration */
}

.zoom {
  transition: transform 0.3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.08);
}

.navbar-nav {
  display: flex;
  justify-content: end;
  visibility: visible;
  align-items: center;
  width: 100%;
}

.zoom-owners {
  display: inline-block;
  overflow: hidden; /* Ensures the image stays contained within the container */
}

.zoom-owners img {
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */
  object-fit: cover; /* Ensures the image scales properly */
}

.zoom-owners:hover img {
  transform: scale(1.023); /* Zoom effect on hover */
}

.background-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.medium {
  font-weight: 300;
}

.video-background {
  position: absolute;
  background-size: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.border-left-white {
  border-left: 1px solid rgb(255, 255, 255);
  z-index: 2;
}

.border-right-white {
  border-right: 1px solid rgb(255, 255, 255);
  z-index: 2;
}

.border-top-white {
  border-top: 1px solid rgb(255, 255, 255);
  z-index: 2;
}


.small {
  font-size: 11pt;
}

.font-bold {
  font-weight: 500;
}

.huge-text {
  font-size: 15.85vw;
  color: rgba(0, 0, 0, 0.08);
  margin-top: 35px;
  margin-bottom: 40px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-hover:nth-child(1):hover {
  background-color: #f1f4fc;
}

.service-hover:nth-child(2):hover {
  background-color: #f1f4fc;}

.service-hover:nth-child(3):hover {
  background-color: #f1f4fc;}

.service-hover:nth-child(4):hover {
  background-color: #f1f4fc;}



.border-left {
  border-left: 4px solid #dde4fc;; /* Blue left border */
  padding-left: 16px; /* Adds spacing so text doesn’t stick to the border */
}

.logo {
  width: 39px;
  height: 39px;
  margin-right: 20px;
  vertical-align: middle;
}

.logo-tricare {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  vertical-align: middle;
}

.tricare-header{
  font-size: 26pt;
}

.d-flex {
  display: flex;
  align-items: center; /* Vertically centers the content */
}

.footer_logo {
  width: 8%;
  height: 8%;
}

.rounded5 {
  border-radius: 10px;
}

.rotate {
  transition: transform 0.3s ease-in-out;
}

.rotate:hover {
  transform: rotate(30deg);
}

.footer-link {
  color: #4b5563; /* text-gray-600 */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #000000; /* Pure black on hover */
  text-decoration: none; /* Ensure underline doesn't appear on hover */
}

.spaced-underline {
  text-decoration: underline 1px;
  text-underline-offset: 2px;
}

.spaced-underline-card-header{
  text-decoration: none;
}

.border-top-bottom {
  border-top: 2px solid #ccc;  /* Adjust thickness and color as needed */
  /* border-bottom: 2px solid #ccc; */
  padding: 30px ;  /* Optional: Adds spacing inside the borders */
}

.reduce {
  width: 39px;
  height: 39px;
  margin-bottom: 10px;
}

.large {
  font-size: 15pt;
}

.large-text {
  font-size: 35pt;
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.card-text {
  font-size: 10pt;
  padding-left:10px ;
  padding-right:10px ;
  text-align: justify;

}

.service-image {
  width: 100%;
  height: auto;
  display: block;
}
.hideFull {
  display: none;
}

.text-blue-white {
  color: #e7f1fe;
}

.italics-spaced{
  letter-spacing: 1px;
}

.service-overlay1 {
  position: absolute;
  padding: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 104, 90, 0.65);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-overlay2 {
  position: absolute;
  padding: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 104, 90, 0.65);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.service-overlay3 {
  position: absolute;
  padding: 3%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16, 104, 90, 0.65);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hideExclamation {
  display: none;
}

.service-card:hover .service-overlay1 {
  opacity: 1;
}

.service-card:hover .service-overlay2 {
  opacity: 1;
}
.service-card:hover .service-overlay3 {
  opacity: 1;
}

.bgp {
  color: #dde4fc;
}


.insurance-image {
  width: 80%;
}
.normalize {
  text-decoration: none;
}

.number{
  letter-spacing: 1px;
}

.bg1{
background-color: #e1eed9;
color:#000000;
}

.bg2{
  background-color: #e7e0ec ;
  color:#000000;
}

.bg3{
  background-color: #fae6d1;
  color:#000000;
}

.bg4{
  background-color: #faeed1;
  color:#000000;
}

.blueCombo {
  color: #d4e6fe;
  background-color: #033982;
}
.blueCombo2 {
  background-color: #d4e6fe;
  color: #033982;
}
.dark-blue{
  color: #033982;
}
.bg-lightblue{
  background-color: #d4e6fe;
}

.blueCombo2Home{
  background-color: #344357;
  color: #000000;
}

.accent-icon{
  color: #30344d;
}

.accent-button {
  background-color: #5bc099;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.accent-button:hover {
  background-color: #309e74;
  color: #ffffff;
}

.icon {
  width: 10%;
  max-width: 40px; /* Add a maximum width for larger screens */
  height: auto; /* Ensure the height scales proportionally with width */
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.main {
  background-color: #ffffff;
}

.rounded3 {
  border-radius: 10px;
}
.rounded4 {
  border-radius: 8%;
}

.phone-button {
  background-color: #d4e6fe;
  color: #000000;
  border-radius: 25px;
  padding: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
}

.phone-button:hover {
  color: #d4e6fe;
  border: 2px solid #d4e6fe;
}

.lemich {
  width: 75%;
}

.underline2 {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 3px;
}

.underline3:hover {
  display: inline-block;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 3px;
}

.phone-link {
  color: inherit;
  text-decoration: none;
}

.nav-link-styling {
  font-size: 13pt;
}

.shape {
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.hometype {
  color: #003b4f;
  border-bottom-left-radius: 20px;
}

.scale {
  width: 55%;
}

.thin {
  font-weight: 200;
}

.thin-insurance-body {
  font-weight: 200;
  font-size: 22pt;
}

.icon {
  width: 15%;
}

.rounded2 {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.tiny {
  font-size: 12pt;
}

.italics {
  font-style: italic;
}


.bg-slate{
  background-color: #f8fafc
}
.bg-tricare1 {
  background-color: #184434ff;}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hometype {
  animation: fadeInRight 1s ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

@media (max-width: 768px) {
  
  .spaced-underline-card-header{
    text-decoration: underline 1px;
    text-underline-offset: 2px;
  }

  .side-note{
    text-align: start;
  }
  
  .service-overlay {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }

  .visible-overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .logo-tricare {
    width: 25px;
    height: 25px;
    margin-right: 13px;
    vertical-align: middle;
  }

  .tricare-header{
    font-size: 19pt; 
  }

  .check-tricare {
    width: 32px;
    height: 32px;
  }

  .huge-text {
    font-size: 20vw;
    color: rgba(0, 0, 0, 0.1);
  }

  .large-body-text{
    font-size: 12pt;
  }

 
  .blueCombo2Home{
    display: none;
  }

  .process-header{
    text-align: start;
    font-size: 20pt;
   
  }

  .hometype {
    font-size: 15pt;
    margin: 0 auto;
    text-align: center;
  }

  .card-text {
    font-size: 8.5pt;
    text-align: justify;
    padding-left:2px ;
    padding-right:2px ;
  }

  .mission {
    font-size: 14pt;
    padding: 4%;
  }

  .footer-text-1 {
    font-size: 11pt;
  }
  .footer-text-2 {
    font-size: 8pt;
  }

  .tinyLogo{
    width: 16.5px;
    height: 16.5px;
    margin-left: 8px;
  }

  .nav-logo-text{
    font-size: 13pt;
  }

  .margin-left-full-screen {
    margin-left: 0%;
  }

  .padding-mobile {
    padding: 30px;
  }

  .mobile-header {
    font-size: 25pt;
    padding-bottom: 10px;
  }

  .TLC {
    font-size: 18.25pt;
    letter-spacing: 1pt;
    margin-left: 1.8px;
  }

  .sub-head{
    letter-spacing: 1.35px;
    font-size: 9.53pt;
    margin-bottom: 20px;
    color: #ffffff;
  }

  .margin-left-home {
    margin-left: 0px;
  }


  .accent-button {
    margin-top: 5%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 10pt;
  }

  .nav-link-styling {
    font-size: 9pt;
  }

  .bottom-left-text {
    font-size: 16pt;
    padding-bottom: 0px;
    bottom: 0px;
    left: 30px;
  }

  .mobile-expand-text {
    display: none;
  }

  .lemich {
    width: 100%;
  }
  .hideMobile {
    display: none;
  }

  .background-section {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .textMobile {
    font-size: 14pt;
  }

  .textMobile2 {
    font-size: 8pt;
  }

  .rounded2 {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 30px;
  }

  .logo {
    width: 21.5px;
    height: 21.5px;
    margin-right: 7px;
  }
  .video-background {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-size: none;
    padding: 0%;
  }

  .background-section {
    width: 105%;
    height: 90vh;
    overflow: hidden;
  }

  .offset-between-5-6 {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .title {
    font-size: 8.5pt;
    font-weight: 600;
  }
  .mobile-bold {
    font-weight: 600;
    font-size: 10pt;
  }

  .hideFull {
    display: inline;
  }
  .text-insurance-header-mobile {
    font-size: 11pt;
  }
  .padding-mobile-owners {
    padding: 30px;
  }
  .border-radius-mobile {
    border-radius: 20px;
  }
  .mobile-image-size {
    width: 90%;
    margin-bottom: 30px;
  }
  .mobile_owner_header {
    font-size: 18pt;
  }
  .owners-mobile-text {
    margin-top: 6%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ipad {
    font-size: 35px;
  }
  .title {
    font-size: 12pt;
    font-weight: 600;
  }
  .TLC {
    font-size: 24pt;
  }

  .logo {
    width: 35px;
    height: 35px;
    margin-right: 7px;
  }
  .margin-left-home {
    margin-left: 0px;
  }
  .sub-head{
    font-size: 13pt;
  }
}

@media (min-width: 1024px) and (max-width: 1380px) {
  .ipad {
    font-size: 35px;
  }
  
  .title {
    font-size: 12pt;
    font-weight: 600;
  }
  .TLC {
    font-size: 28pt;
  }

  .sub-head{
    font-size: 10pt;
  }

  .logo {
    width: 35px;
    height: 35px;
    margin-right: 17px;
  }
}

/* For mobile devices (where hover isn’t available) */
@media (hover: none) {
  .zoom.in-view {
    transform: scale(1.08);
  }
}

@media (max-width: 375px) {

  .TLC {
    font-size: 15pt;
  }
  
  .sub-head{
    font-size: 8pt;
  }
}