@font-face {
  font-family: 'MyCustomFont';
  src: url('./Components/fonts/ivy-style-sans.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.fullscreen{
  height: 100vh;
}

.insurance-image{
  width: 90%;
}

.service-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.service-image {
  width: 100%;
  height: auto;
  display: block;
}


.service-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 14, 122, 0.5); /* Black overlay with 50% opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.service-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(129, 1, 148, 0.5); /* Black overlay with 50% opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.service-overlay3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(122, 63, 0, 0.5); /* Black overlay with 50% opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}


.service-card:hover .service-overlay1  {
  opacity: 1;
}

.service-card:hover .service-overlay2  {
  opacity: 1;
}
.service-card:hover .service-overlay3  {
  opacity: 1;
}

.bgp{
  color: #dde4fc ;
}

.insurance-image {
  width: 80%;;
}
.normalize{
  text-decoration: none;
}

.blueCombo{
  color: #d4e6fe;
  background-color: #033982;
}
.blueCombo2{
  background-color: #d4e6fe;
  color: #033982;
}

.icon {
  width: 10%;
  max-width: 40px; /* Add a maximum width for larger screens */
  height: auto; /* Ensure the height scales proportionally with width */
}

.ivy {
  font-family: 'MyCustomFont', sans-serif;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
.main{
  background-color: #d4e6fe; 
}

.dark-blue{
  color: #4a6a9c;
}
.rounded3{
  border-radius: 4%;
}
.expandStyle{
  font-size: 20pt;
}

.phone-button{
  background-color: #d4e6fe; 
  color: #033982;
  border-radius: 25px;
  padding: 16px;
}
.phone-button:hover{
  color: #d4e6fe;
  background-color: #033982;
}
.text-orange{
  color: #003B4F;
}
.lemich{
  width: 75%;
}
.underline2 {
  display: inline-block; /* Ensure the underline wraps the text */
  border-bottom: 1px solid black; /* Thin underline */
  padding-bottom: 3px; /* Space between the text and the line */
}

.phone-link {
  color: inherit; 
  text-decoration: none;
}

.nav-link-styling{
  font-size: 14pt;
}

.shape{
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}

.hometype{
    color: #003B4F;
    border-bottom-left-radius: 20px;
}
.background-section {
  background-image: url("./Components/images/kelli-mcclintock-wBgAVAGjzFg-unsplash.jpg");
  background-size: 100% auto; /* Fill the width, let height adjust automatically */
  background-position: center top; /* Align image to the top center */
  background-repeat: no-repeat; /* Prevent image tiling */
  width: cover; /* Ensure the container spans the full width */
}
.scale{
  width: 55%;

}

.thin{
  font-weight: 200;
}
.icon{
  width: 15%;
}

.rounded2{
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.shadowBox{
  box-shadow: 0 -5px 10px -3px rgba(0, 0, 0, 0.1), 
              0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.tiny{
  font-size: 12pt;
}
.italics{
  font-style: italic;
}


@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hometype {
  animation: fadeInRight 1s ease-in-out;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}


@media (max-width: 768px) { 
    .hometype {
      font-size: 15pt;
      margin: 0 auto; /* Center the element horizontally */
      text-align: center; /* Optional: Center text within the element */
    }
    .padding-mobile{
      padding: 30px;
    }
    .fullscreen{
      height: 30vh;
    }
    .phone-button{
      margin-top: 5%;
      padding: 5px;
    }

    .nav-link-styling{
      font-size: 9pt;
    }
.lemich{
  width: 100%;
  
}
    .hideMobile{
      display: none;
    }
    .service-card .service-overlay1  {
      opacity: 1;
    }
    
    .service-card .service-overlay2  {
      opacity: 1;
    }
    .service-card .service-overlay3  {
      opacity: 1;
    }

    .shadowBox{
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 
                  0 0 0 0 rgba(0, 0, 0, 0.1), 
                  0 0 0 0 rgba(0, 0, 0, 0.05);
    }
    
    .background-section{
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .textMobile{
      font-size: 13pt;
    }

    .textMobile2{
      font-size: 8pt;
    }

    .textLeft {
      text-align: start;
    }

    .rounded2{
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 30px;
    }
  }